.max-width-ttolbar {
    width: 100vw;
    min-width: 250px;
    max-width: 350px;
}

.imgArea {
    flex-grow: 1;
}

.toolbar{
    margin-right: 5rem;
}

#canvas {
    max-width: 100% !important;
    max-height: 80vh !important;
}

.maincontainer {
    display: flex;
    flex-direction: row;
}

@media (max-width : 700px) {
    .maincontainer {
        flex-direction: column;
    }

    .max-width-ttolbar {
        width: 80vw;
        min-width: 200px;
        max-width: 80vw;
    }

    .toolbar{
        margin-right: 0rem;
    }

}