:root {
	--tiles: 3;
	--size: 50px;
	--wrapperSize: 300px;
	--fontSize: 40px;
}

html,body {
	height: 100vh;
	margin: auto;
	font-family: sans-serif;
}

.game-wrapper {
	width: var(--wrapperSize);
	margin: auto;
}

.board {
	margin: auto;
	display: grid;
	grid-template-rows: repeat(var(--tiles), var(--size));
		grid-template-columns: repeat(var(--tiles),var(--size));

}

.btn-new-game {
	margin: 30px 0px 10px 0px;
	display: block;
	width: 100%;
	height: 50px;
}

.btn {
	color: white;
	font-weight: bold;
	border: none;
	background: #f44336;
}

.mine-count {
	display: block;
	text-align: center;
	/*height: 50px;*/
	background-color: #f44336;
	color: white;
	font-weight: bold;
}

.uncovered {
	background-color: white;
	border: 1px solid black;
	transition: 0.1s cubic-bezier(0.42, 0, 0.59, 2.72);
}

.uncovered.mine {
	transition: 1s ease-in; 
	background-color: orange;
}

.cell {
	border: 1px solid black;
	line-height: var(--size);
	font-size: var(--fontSize) ;
	text-align: center;
}

.cell:hover {
	cursor: pointer;
}

.covered {
	background: whitesmoke;
}